/* -- holi -- */
.holi {
  background-image: url('https://raw.githubusercontent.com/ps2wiki/ps2wiki.github.io/refs/heads/upstream/assets/themes/holi/background.png');
  background-position: no-repeat;
  background-size: cover;
}

.holi .superclass {
  cursor: url(/assets/themes/holi/cursor/cursor.png), auto;
  -webkit-animation: cursor 1ms infinite;
  animation: cursor 1ms infinite;

  @-webkit-keyframes cursor {
    0% {cursor: url(/assets/themes/holi/cursor/cursor.png), auto;}
    100% {cursor: url(/assets/themes/holi/cursor/cursor.png), auto;}
  } 
  
  @keyframes cursor {
    0% {cursor: url(/assets/themes/holi/cursor/cursor.png), auto;}
    100% {cursor: url(/assets/themes/holi/cursor/cursor.png), auto;}
  }
}
