<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.6.1/mermaid.min.js"></script>
  
  {%- include head.html -%}

  <body>
    
    {%- include views/header.html -%}
    
    </br></br></br>

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/click-to-top.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    
    </body>
  {%- include extensions/mermaid.html -%}
</html>
