<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.6.1/mermaid.min.js"></script>
  
  {%- include head.html -%}

  <body><div class="superclass">
    {% if site.ps2wiki_theme == 'xmas' %}
      <div class="xmas">
    {% endif %}

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}
  </div></body>
  <style> body {
    {% if site.ps2wiki_theme == 'xmas' %}
        background-image: url('https://raw.githubusercontent.com/ps2wiki/ps2wiki.github.io/refs/heads/upstream/assets/xmas/xmas_bg.png');
    {% else %}
        background-image: url('https://github.com/ps2wiki/sas-apps-archive/blob/upstream/assets/images/sas-apps-archive-bg.jpg?raw=true');
    {% endif %}
    background-position: no-repeat;
    background-size: cover; }
  </style>
  {%- include extensions/mermaid.html -%}
</html>
