---
layout: docs
hidden:
  - header
  - navigator
  - related_posts
  - banner
  - image
  - title
  - tags
  - subtitle
  - sidebar
---

<div style="border-radius: 10px; padding: 30px; border: 3px outset wheat; background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/41611b21-a7ce-419b-bc77-4644f8105930/ddyvolk-bd4cd675-831a-4867-bef3-c87c1825efb7.png/v1/fill/w_1600,h_900,q_80,strp/ps2_startup_background__blender_remake__by_therprtnetwork_ddyvolk-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvNDE2MTFiMjEtYTdjZS00MTliLWJjNzctNDY0NGY4MTA1OTMwXC9kZHl2b2xrLWJkNGNkNjc1LTgzMWEtNDg2Ny1iZWYzLWM4N2MxODI1ZWZiNy5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.YMlW5kVW11KGZzx1bEu7hl-IBKopRBklOk0S7_6vzVY'); background-position: center" class="homebrew_div">
    <div style="height: 0; width: 30%; padding-bottom: 15%">
      <div style="float: left; margin-right: 25px; border-radius: 5px; padding: 10px; border: 2px outset white">
        <img id="thumbnail" src="https://img.freepik.com/premium-photo/painting-blue-wave-with-green-background_1258935-2628.jpg">
      </div></br></br>
    </div></br>
    <div style="float: right; display: flex; flex-direction: column">
        <div style="float: right">
           <h1 style="font-family: Montserrat; text-align: left; font-size: 2.5em; font-weight: bold; color: #ffe599; text-shadow: 0 0 3px #000000, 0 0 5px #000000">{{ page.title }}</h1>
        </div></br>
        <div style="float: right">
          <p style="font-size: 1.0em; text-align: left; font-weight: bold; color: #99b6b9; text-shadow: 0 0 3px #000000, 0 0 5px #000000">{{ page.subtitle }}</p>
        </div>
    </div>
</div>  


</br><hr>

{%- include sidebar/article-menu.html -%}

<div class="homebrew_tags_container">
  <div class="homebrew_tag_l">
    <div><strong><i class="fa fa-history"></i> Last Updated:</strong> {{ page.last_updated }}</div>
    {% if page.authors %}
    <div><strong><i class="fa fa-user"></i> Authors:</strong> {{ page.authors }}</div>
    {% endif %}
  </div>
  <div class="homebrew_tag_r">
    <div><strong><i class="fa fa-code"></i> Project Status:</strong> {{ page.project_status }}</div>
    {% if page.factcheck %}
    <div><strong><i class="fa fa-check-circle"></i> Factchecked:</strong> {{ page.factcheck }}</div>
    {% endif %}
  </div>
</div>
</br><hr></br>

{% if page.thumbnail %}
<script>
function srcThumbnail() {
  document.getElementById("thumbnail").src = '{{ page.thumbnail }}';
}
srcThumbnail()
</script>
{% endif %}

{{ content }}
