---
layout: post
hidden:
  - header
  - navigator
  - related_posts
  - banner
  - image
  - title
  - tags
  - subtitle
comments: false
---
<div style="border-radius: 10px; padding: 30px; border: 3px outset wheat; background-color: #215864" class="homebrew_div">
    <div style="float: left; border-radius: 5px; margin-right: 25px; padding: 10px; border: 2px outset white; width: 100%"><img width="150" height="150" src="https://img.freepik.com/premium-photo/painting-blue-wave-with-green-background_1258935-2628.jpg"></div>
    <div style="display: flex; flex-direction: column"><div style="float: left"><h1 style="font-family: Montserrat; text-align: left; font-size: 2.5em; font-weight: bold; color: #ffe599">{{ page.title }}</h1></div></br>
    <div style="float: left"><p style="font-size: 1.0em; text-align: left; font-weight: bold; color: #99b6b9">{{ page.subtitle }}</p></div></div>
</div>  

</br><hr></br>
 
{{ content }}
