---
layout: framework-home
sidebar: category-list
heading: PS2Wiki
subheading: 'The PS2 Homebrew Wiki'
banner: 'default'
---

<!-- Position --> <div style="position: absolute; left: 0px; width: 100%; margin: auto">

  
<!-- Page begins -->
<h1 style="font-family: Faculty Glyphic; text-align: center; font-size: 3.5em; font-weight: bold; text-decoration: underline; color: #ffffff">The PS2 Homebrew Wiki</h1>
<h1 style="font-size: 1.35em; text-align: center; font-weight: bold; color: #99b6b9">From Apps to Exploits, Games to Mods, the one website for all things PS2 Homebrew</h1>
</br>
<style>
body {
  background-image: url('/assets/images/ps2wiki_bg.jpg');
}
</style>
  
<div style="padding-left: 25px; padding-right: 25px">

<!-- Terms of Service Notice -->
<div style="position: absolute"><div id="termsofservice" class="tos">
  <span class="clbtn" onclick="this.parentElement.style.display='none';"><i class="fa fa-times-circle"></i></span>
  <strong>Important:</strong> Please read the <a href="https://ps2wiki.github.io/about.html#terms-of-service">Terms of Service</a> in <a href="https://ps2wiki.github.io/about.html">About</a> before using the site. Thankyou.
</div>
<script>
setTimeout(()=>{
    const tos=document.getElementById('termsofservice');
    tos.style.display='none' ;
  },10000);
</script></br></div>
</br></br></br></br></br>
  
<!-- News --> <div class="home_news_block">
<a style="font-size: 10px; color: #bf9000" href="https://ps2wiki.github.io/archive/news.html" class="clbtn">Previous News<sup>[↗]</sup></a>
<img src="https://i.imgur.com/1UZvuCz.gif"/><strong style="font-size: 1.10em">{{ page.news }}</strong></div></div>

<!-- Tips, Site Guide & Latest Posts --> <div class="home_multi_post_block">
<div class="home_post_subparent">
<div class="home_siteguide_and_misc_parent">

<!-- Tips -->
<div style="right: 12.5px; border-radius: 10px; padding: 5px; padding-right: 10px; border: 3px outset #ffffff; background-color: #4e58a2; color: #eeeeee" class="home_daily_tips">
<a style="font-size: 10px; color: #e9a83e" href="https://ps2wiki.github.io/archive/tips.html" class="clbtn">Previous Tips<sup>[↗]</sup></a><img src="https://i.imgur.com/3wdUA2g.gif"/><!--krx--><strong style="font-size: 1.0em">{{ page.tips }}</strong>
</div></br>
  
<!-- Site Guide -->
<div style="right: 12.5px; border-radius: 10px; padding: 30px; border: 3px outset #ffffff; background-color: #122021; color: #eeeeee" class="home_site_guide">
  <h1 style="font-size: 27.5px; color: #ffffff">➤ Site Guide</h1>
  <hr></br>
  <h3><a href="https://ps2wiki.github.io/about.html">➽ About</a></h3>
  Introduction to the site
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/get_started.html">➽ Get Started</a></h3>
  Everything you need to 'Get Started' with PS2 Modding! (>ᴗ•)
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/documentation">➽ Docs</a></h3>
  Find documenation on specific Homebrew, Accessories & Mods here
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/links_and_sources.html">➽ Links & Sources</a></h3>
  Useful links to downloads and other resources
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/categories.html">➽ Topics</a></h3>
  All post content on the site, sorted by topics
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/tags.html">➽ Tags</a></h3>
  Filter content based on #tags
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/archives.html">➽ Archives</a></h3>
  Yearly site-wide Archive
  </br></br><hr></br>
</div></br>
<!-- Miscellaneous --> <div style="right: 12.5px; border-radius: 10px; padding: 30px; border: 3px outset #ffffff; background-color: #21292f; color: #eeeeee" class="home_miscellaneous">
  <h1 style="font-size: 27.5px; color: #ffffff">➤ Miscellaneous</h1>
  <hr></br>
  <h3><a href="https://github.com/ps2wiki/Contributing">➽ Contributing</a></h3>
  Have new ideas or want to help improve existing stuff? Learn about how you can contribute!
  </br></br><hr></br>
  <h3><a href="https://ps2wiki.github.io/sas-apps-archive">➽ SAS App Archive <sup><img height="12.5" src="https://i.imgur.com/wcQLQOn.gif"/></sup></a></h3>
  The one place to download all* PS2 Apps! </br>
  <sub>*Only MC installable apps available</sub>
  </br></br><hr></br>
</div></div></div></br>
  
<div style="padding: 6.25px"></div>
  
<div style="max-height: 1550px; overflow-y: auto;  overflow-x: hidden; width: 80%; left: 12.5px; right: 12.5px; border-radius: 10px; padding: 30px; border: 3px outset #ffffff; background-color: #0c1516; color: #eeeeee" class="home_latest_posts">
   <h1 style="font-size: 27.5px; color: #ffffff">➤ Latest Posts</h1>
  <hr></br>
  <div class="articles">
  {% if page.banner == nil %}
    {% assign banner = page.title %}
  {% endif %}
    {{ content }}
  {% include views/pagination.html %}
</div></div>

</div>

<div style="width: 100%; bottom: 0px; border-top: 3px outset #ffffff; color: #eeeeee; background-color: #000000">
{% include views/footer.html %}

</div></div>
