---
layout: docs
hidden:
  - header
  - navigator
  - related_posts
  - banner
  - image
  - title
  - tags
  - subtitle
  - sidebar
---

<script>
      window.addEventListener('DOMContentLoaded', function(){
                 var config = {
                      startOnLoad:true,
                      htmlLabels:true,
                      callback:function(id){
                          console.log(id,' rendered');
                      },
                      flowchart:{
                              useMaxWidth:false,
                          }
                  };
                  
                  mermaid.initialize(config);
              },false);
</script>
